<?xml version="1.0"?>
<launch>
    <!-- Map server -->
    <node name="map_server" pkg="eurobot_navigation" type="map_server.py"  output="screen" />

    <!-- MAIN ROBOT -->
    <group ns="main_robot"> 
        <!-- Visualization of the path in form of poses -->
        <node name="path_posearray_posearray" pkg="eurobot_navigation" type="path_posearray.py"  output="screen"/>

        <!-- Navigation -->
        <node pkg="global_planner" type="planner" respawn="true" name="global_planner" output="screen">
            <rosparam file="$(find eurobot_navigation)/config/global_planner_params.yaml" command="load" ns="planner" />
            <rosparam file="$(find eurobot_navigation)/config/global_costmap_params_main_robot.yaml" command="load" ns="costmap" />
            <remap from="/people" to="people"/>
        </node>
        <!-- Custom local path planner writen in python -->
        <node name="path_follower" pkg="eurobot_navigation" type="local_planner.py" respawn="true" output="screen"/>
    </group>

    <!-- SECONDARY ROBOT -->
    <group ns="secondary_robot">
        <!-- Visualization of the path in form of poses -->
        <node name="path_posearray_posearray" pkg="eurobot_navigation" type="path_posearray.py"  output="screen"/>

        <!-- Navigation -->
        <node pkg="global_planner" type="planner" respawn="true" name="global_planner" output="screen">
            <rosparam file="$(find eurobot_navigation)/config/global_planner_params.yaml" command="load" ns="planner" />
            <rosparam file="$(find eurobot_navigation)/config/global_costmap_params_secondary_robot.yaml" command="load" ns="costmap" />
            <remap from="/people" to="people"/>
        </node>
        <!-- Custom local path planner writen in python -->
        <node name="path_follower" pkg="eurobot_navigation" type="local_planner.py" pawn="true" utput="screen"/>
    </group>

</launch>
