<?xml version="1.0"?>
<launch>

  <node name="motion_planner" pkg="eurobot_navigation" type="local_planner.py" ns="main_robot" respawn="true" output="screen"/>
  <node name="motion_planner" pkg="eurobot_navigation" type="local_planner.py" ns="secondary_robot" respawn="true" output="screen"/>

</launch>
