<?xml version="1.0"?>
<launch>
  <group ns="lidar">
    <!-- NODES -->
    <node pkg="tf" type="static_transform_publisher" name="laser_broadcaster" args="0 0 0.4 0 0 0 base_link laser 100" />
    <node pkg="rviz" name="rviz" type="rviz" args="-d file" output="screen"/>

    <!-- PARAMS -->
    <!-- initial coordinates -->
    <param name="start_x" type="double" value="293.0" />
    <param name="start_y" type="double" value="425.0" />
    <param name="start_a" type="double" value="4.71" />

  </group>

</launch>
