<?xml version="1.0"?>
<launch>
  <!-- COMMON PARAMS -->
  <param name="color" type="string" value="orange" />

  <group ns="main_robot">
    <!-- NODES -->
    <node pkg="eurobot" name="particle_filter_node" type="particle_filter_node.py" output="screen"/>
    <node pkg="rosbag" name="bag_play" type="play" args="$(find eurobot_sim)/bag/2018-01-21-19-51-07.bag" />

    <!-- PARAMS -->
    <!-- initial coordinates -->
    <param name="start_x" type="double" value="293.0" />
    <param name="start_y" type="double" value="425.0" />
    <param name="start_a" type="double" value="4.71" />

    <!-- robot size -->
    <param name="dim_x" type="double" value="420" />
    <param name="dim_y" type="double" value="190" />
    <param name="dim_z" type="double" value="350" />

    <!-- particle filter params -->
    <param name="particles" type="int" value="2000" />
    <param name="sense_noise" type="double" value="25" />
    <param name="distance_noise" type="double" value="25" />
    <param name="angle_noise" type="double" value="0.1" />
    <param name="max_itens" type="double" value="3500" />
    <param name="max_dist" type="double" value="3700" />

  </group>

  <group ns="field">
    <!-- field params -->
    <param name="cube1c_x" type="double" value="850" />
    <param name="cube1c_y" type="double" value="540" />

    <param name="cube2c_x" type="double" value="300" />
    <param name="cube2c_y" type="double" value="1190" />

    <param name="cube3c_x" type="double" value="1100" />
    <param name="cube3c_y" type="double" value="1500" />

    <param name="cube4c_x" type="double" value="1900" />
    <param name="cube4c_y" type="double" value="1500" />

    <param name="cube5c_x" type="double" value="2700" />
    <param name="cube5c_y" type="double" value="1190" />

    <param name="cube6c_x" type="double" value="2150" />
    <param name="cube6c_y" type="double" value="540" />
  </group>

</launch>
