<?xml version="1.0"?>
<launch>
  <rosparam file="$(find eurobot)/config/main_robot_params.yaml" command="load" ns="main_robot" />
  <rosparam file="$(find eurobot)/config/field_params.yaml" command="load" ns="field" />
  <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 map odom 100"/>

  <group ns="main_robot">
      
    <node pkg="eurobot_sim" name="stm_node" type="stm_node.py" output="screen"/>
  </group>

</launch>
