<?xml version="1.0"?>
<launch> 

  <rosparam file="$(find eurobot)/config/field_params.yaml" command="load" ns="field" />
  <rosparam file="$(find eurobot)/config/main_robot_params.yaml" command="load" ns="main_robot" />
  <rosparam file="$(find eurobot)/config/secondary_robot_params.yaml" command="load" ns="secondary_robot" />

  <node pkg="tf" type="static_transform_publisher" name="world_map_broadcaster_vis" args="0 0 0 0 0 0 world map 100"/>

  <group ns="visualization">
    
    <node pkg="rviz" name="rviz" type="rviz" args="-d $(find eurobot_sim)/config/visualization.rviz" output="screen"/>
    <param name="field_description" textfile="$(find eurobot_sim)/models/field.urdf" />
    
  </group>

  <group ns="main_robot">
    <!-- Robot model -->
    <param name="description" command="cat $(find eurobot_sim)/models/main_robot.urdf" />
  </group>

  <group ns="secondary_robot">
    <!-- Robot model -->
    <param name="description" command="cat $(find eurobot_sim)/models/secondary_robot.urdf" />
  </group>

  <group ns="field">
  
    <node pkg="eurobot_sim" name="cubes_broadcaster" type="cubes_broadcaster.py"  output="screen"/>

  </group>

</launch>
