<?xml version="1.0"?>
<launch>

  <!-- PARAMS -->
  <arg name="color" default="orange" />
  <param name="/field/color" value="$(arg color)" />
  <param name="/camera/corner_camera" value="0"/>
  <include file="$(find eurobot)/launch/params.launch"/>
  
  <!-- MULTYMASTER -->
  <include file="$(find eurobot)/launch/multimaster.launch"/>
  
  <include file="$(find eurobot_navigation)/launch/navigation_main.launch"/>

  <group ns="main_robot">

    <!-- NODES -->
    <node pkg="eurobot" name="stm_node" type="stm_node.py" respawn="true"/>
    <node pkg="urg_node" name="lidar_node" type="urg_node" args="_ip_address:=192.168.0.10" respawn="true">
      <param name="frame_id" value="/main_robot_laser"/>
    </node>
    <node pkg="eurobot" name="particle_filter_node" type="particle_filter_node.py" respawn="true"/>

    <!--node pkg="eurobot" name="barrier_move_node" type="test_barrier_move_to_heap.py" respawn="true" output="screen"/-->
  </group>
  <node pkg="eurobot_gui" name="display" type="display_node.py" respawn="true"/>
  <node pkg="rosbag" type="record" name="rosbag_record_main_robot" args="record -o $(rospack find eurobot)/main_robot /tf /main_robot/scan" />

</launch>
