<?xml version="1.0"?>
<launch>

    <node pkg="master_discovery_fkie" type="master_discovery" name="master_discovery">
        <rosparam file="$(find eurobot)/launch/multimaster_config.yaml" command="load" />
    </node>    
    <node pkg="master_sync_fkie" type="master_sync" name="master_sync" />

</launch>
