<?xml version="1.0"?>
<launch>

  <group ns="secondary_robot">

    <!-- NODES -->
    <node pkg="eurobot" name="stm_node" type="stm_node.py" respawn="true" output="screen"/>
    <node pkg="urg_node" name="lidar_node" type="urg_node" args="_ip_address:=192.168.0.10" respawn="true" output="screen">
      <param name="frame_id" value="/secondary_robot_laser"/>
      <!--param name="skip" value="3"/-->
    </node>
    <node pkg="eurobot" name="particle_filter_node" type="particle_filter_node.py" respawn="true" output="screen"/>
    <node pkg="eurobot_navigation" name="local_planner" type="local_planner.py" respawn="true" output="screen"/>

  </group>

</launch>
