<?xml version="1.0"?>
<robot name="main_robot_stm">
  <material name="green">
    <color rgba="0 0.8 0.2 .8"/>
  </material>

  <link name="main_robot_stm">
    <visual>
      <origin xyz="0 0 .18" rpy="0 0 0" />
      <geometry>
        <box size="0.42 0.19 0.34" />
      </geometry>
      <material name="green"/>
    </visual>
    <collision>
      <origin xyz="0 0 .18" rpy="0 0 0" />
      <geometry>
        <box size="0.42 0.19 0.34" />
      </geometry>
    </collision>
  </link>

</robot>
