<?xml version="1.0"?>
<robot name="field">
  <link name="table">
     <visual>
       <origin xyz=".2 .1 .17" rpy="0 0 0" />
       <geometry>
         <box size="0.4 0.2 0.34" />
       </geometry>
       <material name="yellow">
         <color rgba=".2 0 .8 1"/>
       </material>
     </visual>
     <collision>
       <origin xyz=".2 .1 .17" rpy="0 0 0"/>
       <geometry>
         <box size="0.4 0.2 0.34" />
       </geometry>
     </collision>
</robot>
