<?xml version="1.0"?>
<robot name="main_robot_kf">
  <material name="blue">
    <color rgba="0 0 1 1"/>
  </material>

  <link name="main_robot_kf">
    <visual>
      <origin xyz="0 0 .18" rpy="0 0 0" />
      <geometry>
        <box size="0.42 0.19 0.34" />
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin xyz="0 0 .18" rpy="0 0 0" />
      <geometry>
        <box size="0.42 0.19 0.34" />
      </geometry>
    </collision>
  </link>
</robot>
